<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Procon</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>
<body>
  <div class="header">
    
  </div>
  
  
  
  <a href="./game">チュートリアル</a>
  <a href="./game">プログラミング</a>
  <a href="./game">観戦 </a>
  <a href="./game">設定</a>

</body>
</html>
