<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Procon</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/menu.css' />
  <link rel='stylesheet' href='/stylesheets/menu-programming.css' />
  
  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  
</head>
<body>
  <div class="header">
    
    <div class = "back_page">
      <div class = "back_button"><a href="../"></a></div>
    </div>
    <div class="control_area">
      <div class = "page_title">
        <h1><span class = "page_title_span">観戦</span><%- title %></h1>
      </div>
      <div class = "control_button">
        <button>
          <div class = "menu_config">設定</div>
        </button>
      </div>
    </div>  
    
  </div>
  
  <% for(server in list){ %>
    <li>
      <a href="./watching?room_id=<%= list[server].room_id %>"><%= list[server].name %></a>
    </li>
  <% } %>
  
</body>
</html>