<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="google" value="notranslate">
  <title>Blockly CHaser</title>
  <link rel="icon" href="/images/favicon.ico">
  
  <script>
    var satage_data = <%- JSON.stringify(stagedata) %>;
    var reset_data = <%- JSON.stringify(stagedata) %>;
  </script>

  <script src="/javascripts/blockly_compressed.js"></script>
  <script src="/javascripts/blocks_compressed.js"></script>
  
  <script src="/javascripts/javascript_compressed.js"></script>
  
  <script src = "/javascripts/blocks/tutorial_mode_block.js" ></script> 
  <script src = "/javascripts/generators/javascript/tutorial_mode.js" ></script>
  <script src="/javascripts/acorn_interpreter.js"></script>
  
  <script src="/javascripts/howler.min.js"></script>

  <script src="/javascripts/code.js"></script>
  <script src="/javascripts/tutorial_board.js"></script>


  <link rel='stylesheet' href='/stylesheets/blockly.css' />
  <link rel='stylesheet' href='/stylesheets/tutorial.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/animation.css' />
</head>
<body>
  <div id="overlay">
    <div id="result_area">
      <div class="result_title">ステージクリア！</div>
      <div class="result_message">他のステージにもチャレンジしてみよう！</div>
      <div id="result_button_area">
        <div id="cancel" class="result_button">キャンセル</div>
        <div id="back_menu" class="result_button">ステージ選択<a href="/menu-tutorial"></a></div>
      </div>
    </div>
  </div>
  
  <div class="header">
    <div class = "back_page">
      <div class = "back_button"><a href="/menu-tutorial"></a></div>
    </div>
    <div class="control_area">
      <div class = "page_title">
        <h1><span class = "page_title_span">チュートリアル</span><%- title %></h1>
      </div>
      <div class = "control_button">
        <button id="runButton" class="notext" title="実行">
          
        </button>
        
        <button id="reloadButton" class="notext Button_hidden" title="リセット">
          
        </button>
        
        <button id="stopButton" class="notext" title="停止">
          
        </button>
        <button id="trashButton" class="notext" title="ブロックをすべて削除">
          
        </button>
        <button id="downloadButton" class="notext" title="保存">
          
        </button>
        <label for="file_load">
          <input type="file" accept=".xml" id="file_load" style="display:none;">
        </label>
      </div>
    </div>  
    
  </div>
  <div class="left_area">
    <div class="tab_area">
      <ul class="blockly_menu">
        <li id="tab_blocks" class="tabon">プログラムブロック</li>
        <li id="tab_javascript" class="taboff">javascript</li>
        <li id="tab_xml" class="taboff">xml</li>
      </ul>
    </div>

    <div class="blockly_area" id="content_area"></div>
    
    <div id="content_blocks" class="content"></div>
    <pre id="content_javascript" class="content lang-js"></pre>
    <textarea id="content_xml" class="content" wrap="off"></textarea>
  </div>
  
  <div class="right_area">

    <div class="game_area">
      <div id="game_board"></div>
      <div id="game_info">
        <div id="block_limit_area">
          <div class="game_info_title">残りプログラムブロック数</div>
          <div id="capacity"></div>
        </div>
        
        <div id="turn_area">
          <div class="game_info_title">残りターン数</div>
          <div id="turn_now"></div>
        </div> 
      </div>
    </div>
    <textarea class="console_area" id="output" disabled="disabled"></textarea>
    
  </div>
  
  <script src="/javascripts/encode_tutorial.js"></script>
  <script>
    makeTable("game_board");
  </script>
  
  <%- blockly_xml %>


</body>
</html>