.farSide {
  text-align: right;
  display:none;
}

html[dir="RTL"] .farSide {
  text-align: left;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #fff;
  font-size: large;
  background-color: #5d5d5d;
  color: #000;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}
button.primary {

}
button.primary>img {
  opacity: 1;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}

h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Tabs */
#tabRow>td {
  border: 1px solid #ccc;
  border-bottom: none;
}
td.tabon {
  border-bottom-color: #ddd !important;
  background-color: #ddd;
  padding: 1px 19px;
}
td.taboff {
  cursor: pointer;
  padding: 1px 19px;
}
td.taboff:hover {
  background-color: #eee;
}
td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}
td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
}
html[dir=rtl] td.tabmax {
  text-align: left;
}

table {
  border-collapse: separate;
  border-spacing: 1px;
  margin: 0 auto;
  padding: 0;
  border: none;
  font-size: 0px;
}
td {
  padding: 0;
  border: solid 1px #6c6c6c;
  vertical-align: top;
  background-size: contain;
}
td img{
  width:100%;
}
.content {
  visibility: hidden;
  margin: 0;
  padding: 5px;
  position: absolute;
  direction: ltr;
}
pre.content {
  border: 1px solid #ccc;
  overflow: scroll;
  padding: 5px;
}
#content_blocks {
  padding: 0;
}
.blocklySvg {
  border-top: none !important;
}
#content_xml {
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  font-family: monospace;
  overflow: scroll;
}
#languageMenu {
  vertical-align: top;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

/* Buttons */
button {
  padding: 1px 10px;
  margin: 1px 5px;
}

/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(../media/icons.png);
}
.trash {
  background-position: 0px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -42px 0px;
}
.stop {
  height: 21px;
  width: 21px;
  background-image: url(../media/stop.png);
}



.back_page{
  padding-right: 10px;
  background: #5d5d5d;
  border-radius: 0 0 50px 0 / 0 0 50px 0;
  width: 100px;
  height: 100%;
  margin: auto 0;
  display: flex;
  align-items: center;
}

.back_button{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../media/back.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 35px center;
}

.back_button a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.back_page::after{
  content: " ";
  background: #5d5d5d;
  position: absolute;
  width: 80px;
  height: 10px;
  top: 0;
  left: 100px;
}


.control_area{
  height: 50px;
  width: calc(100% - 148px);
  display: flex;
  position: absolute;
  top: 0;
  left: 107px;
  align-items: center;
  padding: 0 20px;
  background: #00a0e6;
  border-radius: 10px 0 0 0 / 25px 0 0 0;
}


.page_title{
  position:relative;
}

.page_title h1{
  width: 250px;
  background: #FFF;
  padding: 10px 0 0 10px;
  font-size: 16px;
  border-radius: 30px;
  text-shadow: 1px 1px 1px #999999;
  color: #4d4d4d;
  box-shadow: 0px 1px 2px 1px #999;
}

.page_title_span{
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 8px;
  color: #FFF;
  width: 120px;
  text-align: center;
  padding: 0 5px;
  background: #4CAF50;
  border-radius: 20px;
}

.control_button{
  width: calc(100% - 270px);
  display: flex;
  justify-content: flex-end;
}


.left_area{
  float: left;
  
  width: calc(100% - 480px);
  height: calc(100% - 51px);
}

.right_area{
  float: right;
  overflow: auto;
  width: 480px;
  height: calc(100% - 51px);
  background: #ddd;
}

.game_area{
  position: relative;
  width: calc(100% - 14px);
  height: 500px;
  margin: 6px;
  margin-bottom: 0px;
  background: #fff;
  border-radius: 12px;
  border: solid 1px #c1c1c1;
  text-align: center;
  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 40%;
}

.console_area{
  display: block;
  width: calc(100% - 38px);
  height: calc(100% - 528px);
  min-height: 60px;

  border: none;
  border-radius: 12px;
  -webkit-background: #00266d;
  -webkit-color: #FFF;
  color: #FFF;
  background: #00266d;
  
  margin: 6px;
  padding: 3px 12px;
  border: solid 1px #c1c1c1;
}


#runButton{
  border: 2px solid #ffffff;
  background-color: #ff4e38;
  background-image: url(../media/run.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  width: 60px;
  height: 35px;
  border-radius: 18px 4px 4px 18px;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}

#stopButton{
  border: 2px solid #ffffff;
  background-color: #5d5d5d;
  background-image: url(../media/stop.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  width: 40px;
  height: 35px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}

#trashButton{
  border: 2px solid #ffffff;
  background-color: #5d5d5d;
  background-image: url(../media/trash.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  width: 40px;
  height: 35px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}

#downloadButton{
  border: 2px solid #ffffff;
  background-color: #5d5d5d;
  background-image: url(../media/download.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  width: 40px;
  height: 35px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}


label {
  border: 2px solid #ffffff;
  background-color: #5d5d5d;
  background-image: url(../media/load.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  width: 36px;
  border-radius: 4px;
  margin: 1px 5px;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}


#ready_server{
  margin-top: 10%;
}

#ready_cool{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  border: solid 2px #5d5d5d;
  padding: 2px 8px;
  border-radius: 15px;
}

#ready_hot{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  border: solid 2px #5d5d5d;
  padding: 2px 8px;
  border-radius: 15px;
}

#wait_hot{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  border: solid 2px #5d5d5d;
  padding: 2px 8px;
  border-radius: 15px;
  
  -webkit-animation:blink 1.5s ease-in-out infinite alternate;
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate;

}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

#game_board{
  margin-top: 10px;
  margin-bottom: 2px;
}

#game_info_div{
  display: flex;
}

#cool_info_div{
  display: block;
  position: relative;
  width: calc(40% - 20px);
  margin: 0px 8px;
  border: solid 2px #0d8eff;
  border-radius: 10px;
}
#cool_name{
  height: 20px;
  text-align: left;
  white-space: nowrap;
  padding-left: 50px;
  padding-right: 5px;
  font-size: 14px;
  overflow: hidden;
  background: #5d5d5d;
  color: #FFF;
  border-radius: 8px 8px 0 0;
}
#cool_name:before{
  content: "cool";
  position: absolute;
  text-align: left;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #0e8eff;
  color: #FFF;
  border-right: solid 18px #0e8eff;
  border-left: solid 5px #0e8eff;
  border-radius: 8px 15px 15px 0px;
}


#cool_score:after{
  content: "point";
  font-size: 11px;
  border-left: solid #fff;
}
 
#turn_div{
  display: block;
  width: 20%;
  background: linear-gradient(90deg, rgba(14,142,255,1) 0%, rgba(255,34,34,1) 100%);
  border-radius: 10px;
}
 

#turn_title{
  font-size: 12px;
  margin: 2px;
  height: 18px;
  margin-bottom: 0px;
  padding-top: 2px;
  color: #FFF;
  background: #5d5d5d;
  border-radius: 10px 10px 0 0;
}

#turn_n{
  margin: 2px;
  margin-top: 0;
  background: #FFF;
  border-radius: 0 0 10px 10px;
}
  
#hot_info_div{
  display: block;
  position: relative;
  width: calc(40% - 20px);
  margin: 0px 8px;
  border: solid 2px #ff2222;
  border-radius: 10px;
}
#hot_name{
  height: 20px;
  padding-left: 50px;
  padding-right: 5px;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
  overflow: hidden;
  background: #5d5d5d;
  color: #FFF;
  border-radius: 8px 8px 0 0;
}
#hot_name:before{
  content: "hot";
  position: absolute;
  text-align: left;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #ff2222;
  color: #FFF;
  border-right: solid 15px #ff2222;
  border-left: solid 8px #ff2222;
  border-radius: 8px 15px 15px 0px;
}
#hot_score:after{
  content: "point";
  font-size: 11px;
  border-left: solid #fff;
}

#game_result img{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 10%;
}

#output{
  resize: none;
  opacity: 1;
}

.blockly_area{
  width: 100%;
  height: calc(100% - 30px);
}

.tab_area{
  width: 100%;
  
}

.tab_area ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  background: #dddddd;
}

.tab_area li{
  width : 33.33333% ;
  width: calc(100% / 3);
  margin: 6px 0 0 0;
  padding: 2px 10px;
  border-radius: 12px 12px 0px 0px;
  border: solid 1px #b1b1b1;
} 

.tabon {
  color: #000;
  border-bottom-color: #FFF !important;
  background: #FFF;
}
.taboff {
  color: #FFF;
  background: #5d5d5d;
  cursor: pointer;
}
.taboff:hover {
  color: #000;
  background-color: #eee;
}

.blockly_menu{
  font-size: 12px;
  font-weight: bold;
  height:30px;
}

.hart_img{
  background-image: url(/images/hart.png);
}

.wall_img{
  background-image: url(/images/wall.png);
}

.cool_img{
  background-image: url(/images/cool.png);
}

.hot_img{
  background-image: url(/images/hot.png);
}

.ch_img{
  background-image: url(/images/ch.png);
}