
table {
  border-collapse: separate;
  border-spacing: 1px;
  margin: 0 auto;
  padding: 0;
  border: none;
  font-size: 0px;
  height:100%;
}
td {
  padding: 0;
  border: solid 1px #6c6c6c;
  vertical-align: top;
  background-size: contain;
}
td img{
  width:100%;
}

#fullscreenButton{
  border: 2px solid #ffffff;
  background-color: #5d5d5d;
  background-image: url(../media/fullscreen.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  width: 40px;
  height: 35px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}


#game_area{
  position: relative;
  width: calc(100% - 14px);
  height: calc(100% - 65px);
  margin: 6px;
  margin-bottom: 0px;
  background: #fff;
  border-radius: 12px;
  border: solid 1px #c1c1c1;
  text-align: center;
  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 40%;
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}


#ready_player{
  width: 100%;
  position: absolute;
}


#ready_server{
  margin-top: 10%;
}

#ready_cool{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  border: solid 2px #5d5d5d;
  padding: 2px 8px;
  border-radius: 15px;
}

#ready_hot{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  border: solid 2px #5d5d5d;
  padding: 2px 8px;
  border-radius: 15px;
}

#wait_hot{
  width: 80%;
  margin: auto;
  margin-top: 10%;
  text-align: left;
  border: solid 2px #5d5d5d;
  padding: 2px 8px;
  border-radius: 15px;
  
  -webkit-animation:blink 1.5s ease-in-out infinite alternate;
  -moz-animation:blink 1.5s ease-in-out infinite alternate;
  animation:blink 1.5s ease-in-out infinite alternate;

}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

#game_board{
  position: relative;
  height: calc(100% - 20px);
  margin:10px;
  
  display: flex;
  align-items: center;
}

#game_info{
  width: 450px;
}

#game_info_div{
  display: flex;
  flex-wrap: wrap;
  
  font-size: 18px;
  font-weight: bold;
  color: #1c1c1c;
}

#cool_info_div{
  display: block;
  position: relative;
  width: 100%;
  margin: 11px 8px;
  border: solid 2px #0d8eff;
  border-radius: 10px;
}
#cool_name{
  height: 29px;
  padding-top: 1px;
  text-align: left;
  white-space: nowrap;
  padding-left: 60px;
  padding-right: 5px;
  overflow: hidden;
  background: #5d5d5d;
  color: #FFF;
  border-radius: 8px 8px 0 0;
}
#cool_name:before{
  height: 29px;
  padding-top: 1px;
  content: "cool";
  position: absolute;
  text-align: left;
  top: 0px;
  left: 0px;
  width: 30px;
  background: #0e8eff;
  color: #FFF;
  border-right: solid 18px #0e8eff;
  border-left: solid 5px #0e8eff;
  border-radius: 8px 15px 15px 0px;
}

#cool_score{
  height: 29px;
  padding-top: 1px;
}

#cool_score:after{
  content: "point";
  font-size: 11px;
  border-left: solid #fff;
}
 
#turn_div{
  display: block;
  width: 100%;
  margin: 11px 8px;
  background: linear-gradient(90deg, rgba(14,142,255,1) 0%, rgba(255,34,34,1) 100%);
  border-radius: 10px;
}
 

#turn_title{
  height: 30px;
  margin: 2px;
  margin-bottom: 0px;
  color: #FFF;
  background: #5d5d5d;
  border-radius: 10px 10px 0 0;
}

#turn_n{
  height: 29px;
  padding-top: 1px;
  margin: 2px;
  margin-top: 0;
  background: #FFF;
  border-radius: 0 0 10px 10px;
}

#hart_div{
  display: block;
  width: 100%;
  margin: 11px 8px;
  background: linear-gradient(90deg, rgba(14,142,255,1) 0%, rgba(255,34,34,1) 100%);
  border-radius: 10px;
}
 

#hart_title{
  height: 30px;
  margin: 2px;
  margin-bottom: 0px;
  color: #FFF;
  background: #5d5d5d;
  border-radius: 10px 10px 0 0;
}

#hart_n{
  height: 29px;
  padding-top: 1px;
  margin: 2px;
  margin-top: 0;
  background: #FFF;
  border-radius: 0 0 10px 10px;
}
  
#hot_info_div{
  display: block;
  position: relative;
  width: 100%;
  margin: 11px 8px;
  border: solid 2px #ff2222;
  border-radius: 10px;
}
#hot_name{
  height: 29px;
  padding-top: 1px;
  padding-left: 60px;
  padding-right: 5px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  background: #5d5d5d;
  color: #FFF;
  border-radius: 8px 8px 0 0;
}

#hot_name:before{
  height: 29px;
  padding-top: 1px;
  content: "hot";
  position: absolute;
  text-align: left;
  top: 0px;
  left: 0px;
  width: 30px;
  background: #ff2222;
  color: #FFF;
  border-right: solid 15px #ff2222;
  border-left: solid 8px #ff2222;
  border-radius: 8px 15px 15px 0px;
}

#hot_score{
  height: 29px;
  padding-top: 1px;
}

#hot_score:after{
  content: "point";
  font-size: 11px;
  border-left: solid #fff;
}

#game_result img{
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 10%;
}

.hart_img{
  background-image: url(/images/hart.png);
  background-repeat: no-repeat;
}

.wall_img{
  background-image: url(/images/wall.png);
}

.cool_img{
  background-image: url(/images/cool.png);
  background-repeat: no-repeat;
}

.hot_img{
  background-image: url(/images/hot.png);
  background-repeat: no-repeat;
}

.ch_img{
  background-image: url(/images/ch.png);
  background-repeat: no-repeat;
}
