
#menu_area{
    position:relative;
    width:100%;
    height:calc(100% - 51px);
    display: flex;
    justify-content: center;
}

.select_back{
    background: linear-gradient(90deg, rgba(255,255,255,0) 40%, rgba(0,0,0,0.4) 100%);
}

#watching_list{
    position: relative;
    width:240px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transform: skewX(-2deg);
    overflow: auto;
    
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

#watching_list::-webkit-scrollbar {
  display: none;
}

#watching_info{
    width:400px;
}

.one_watching_servar{
    width: 100%;
    height: 80px;
}

.watching_server_div{
    position:relative;
    margin: 10px 20px;
    width: 200px;
    height: 60px;
    float: left;
    background: #5d5d5d;
    border-radius: 10px;
    cursor: pointer;
}

.server_vs_player{
    position: absolute;
    font-size: 13px;
    font-weight:  bold;
    top: -5px;
    display: inline-block;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0;
    letter-spacing: 0.1em;
    color: #fff;
    width: 100px;
    height: 20px;
    line-height: 20px;
    background: #70c7ff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}

.server_vs_player:before {
    position: absolute;
    content: '';
    top: 0;
    left: -7px;
    border: none;
    height: 28px;
    width: 7px;
    background: #70c7ff;
    border-radius: 5px 0 0 5px;
}

.server_vs_player:after {
    position: absolute;
    content: '';
    bottom: -7px;
    left: -5px;
    border: none;
    height: 7px;
    width: 5px;
    background: #4d99ca;
    border-radius: 5px 0 0 5px;
}

.server_vs_cpu{
    position: absolute;
    font-size: 13px;
    font-weight:  bold;
    top: -5px;
    display: inline-block;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    padding: 0 12px;
    margin: 0;
    letter-spacing: 0.1em;
    color: #fff;
    width: 100px;
    height: 20px;
    line-height: 20px;
    background: #ffc107;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
}

.server_vs_cpu:before {
    position: absolute;
    content: '';
    top: 0;
    left: -7px;
    border: none;
    height: 28px;
    width: 7px;
    background: #ffc107;
    border-radius: 5px 0 0 5px;
}

.server_vs_cpu:after {
    position: absolute;
    content: '';
    bottom: -7px;
    left: -5px;
    border: none;
    height: 7px;
    width: 5px;
    background: #d69400;
    border-radius: 5px 0 0 5px;
}

.server_name{
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.server_id{
    font-size: 10px;
    color: #fff;
    font-weight: bold;
}

.server_id:before {
    content: 'ID';
    font-size: 10px;
    color: #ff4e38;
    margin-right: 5px;
    margin-left: 10px;
    padding: 0 5px;
    background: #fff;
    border-radius: 10px;
}

#map_table{
    width: 60%;
    margin: 10px auto;
    margin-top: 80px;
    margin-bottom:30px;
    height: 300px;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

table {
    border-collapse: separate;
    border-spacing: 1px;
    margin: 0 auto;
    padding: 0;
    border: none;
    font-size: 0px;
    height:100%;
}
td {
    padding: 0;
    border: solid 1px #6c6c6c;
    vertical-align: top;
    background-size: contain;
}
td img{
    width:100%;
}

.auto_create_map{
    position: relative;
}

.auto_create_map:before{
    content: 'No data';
    font-size: 20px;
    font-weight: bold;
    color: #5f5f5f;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 40px);
}

.server_select_on{
    background: #ff4e38;
    transform: scale(1.1);
}

.hart_img{
    background-image: url(/images/hart.png);
    background-repeat: no-repeat;
}

.wall_img{
    background-image: url(/images/wall.png);
}

.cool_img{
    background-image: url(/images/cool.png);
    background-repeat: no-repeat;
}

.hot_img{
    background-image: url(/images/hot.png);
    background-repeat: no-repeat;
}

.ch_img{
    background-image: url(/images/ch.png);
    background-repeat: no-repeat;
}

#server_info_div{
    position: relative;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    background: #5d5d5d;
    border-radius: 0px 5px 5px 5px;
    border: solid 2px #fff;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
}

#server_info_div:after{
    position: absolute;
    content: '';
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    color:#fff;
    top: -25px;
    padding: 5px 15px 0 15px;
    border-radius: 10px 0px 0px 0px;
    height: 0;
    border-style: solid;
    border-color: #ffffff00 #ffffff00 #5d5d5d #ffffff00;
    border-width: 0px 20px 20px 0px;
}

#server_info_div:before{
    position: absolute;
    content: '';
    width: 120px;
    color:#fff;
    font-size: 15px;
    font-weight: bold;
    top: -25px;
    left: -2px;
    padding: 3px 17px 0 17px;
    border-radius: 10px 0px 0px 0px;
    height: 0;
    border-style: solid;
    border-color: #ffffff00 #ffffff00 #ffffff #ffffff00;
    border-width: 0px 20px 20px 0px;
}

#server_info_div span{
    position: absolute;
    top: -20px;
    left: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    z-index: 1;
}

#server_info_name{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #2f2f2f;
    padding: 10px 0;
    padding-left: 20px;
}

#server_info_id{
    padding: 5px 0;
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

#server_info_id:before{
    content: 'ID';
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #2f2f2f;
    margin-right: 5px;
    margin-left: 10px;
    width: 50px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
}

#server_info_map{
    padding: 5px 0;
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

#server_info_map:before{
    content: 'MAP';
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #2f2f2f;
    margin-right: 5px;
    margin-left: 10px;
    width: 50px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
}

#server_info_turn{
    padding: 5px 0;
    padding-left: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

#server_info_turn:before{
    content: 'TURN';
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #2f2f2f;
    margin-right: 5px;
    margin-left: 10px;
    width: 50px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
}



#server_join_div{
    position: relative;
    margin: 0 15px 0 38px;
    margin-top: 20px;
    width: 50%;
    height: 40px;
    background: #ff4e38;
    border: solid 2px #fff;
    border-radius: 5px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
    display: inline-block;
}

#server_join_div a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 5px 0;
    text-decoration: none;
}

#server_watch_div{
    position: relative;
    margin-top: 20px;
    width: 25%;
    height: 40px;
    background: #ff4e38;
    border: solid 2px #fff;
    border-radius: 5px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
    display: inline-block;
}

#server_watch_div a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 5px 0;
    text-decoration: none;
}