html, body {
  height: 100%;
  overflow:hidden;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  background-size: 50px;
}

.header{
  height: 50px;
  background: #00a0e6;
  border-bottom: solid 1px #008bc7;
  display: flex;
  align-items: center;
}

.back_page{
  padding-right: 10px;
  background: #5d5d5d;
  border-radius: 0 0 50px 0 / 0 0 50px 0;
  width: 100px;
  height: 100%;
  margin: auto 0;
  display: flex;
  align-items: center;
}

.back_button{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../media/back.png);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: 35px center;
}

.back_button a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.back_page::after{
  content: " ";
  background: #5d5d5d;
  position: absolute;
  width: 80px;
  height: 10px;
  top: 0;
  left: 100px;
}


.control_area{
  height: 50px;
  width: calc(100% - 148px);
  display: flex;
  position: absolute;
  top: 0;
  left: 107px;
  align-items: center;
  padding: 0 20px;
  background: #00a0e6;
  border-radius: 10px 0 0 0 / 25px 0 0 0;
}


.page_title{
  position:relative;
}

.page_title h1{
  width: 250px;
  background: #FFF;
  padding: 10px 0 0 10px;
  font-size: 16px;
  border-radius: 30px;
  text-shadow: 1px 1px 1px #999999;
  color: #4d4d4d;
  box-shadow: 0px 1px 2px 1px #999;
  
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
}

.page_title_span{
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 8px;
  color: #FFF;
  width: 120px;
  text-align: center;
  padding: 0 5px;
  background: #4CAF50;
  border-radius: 20px;
}

.control_button{
  width: calc(100% - 270px);
  display: flex;
  justify-content: flex-end;
}

.content{
  height: calc(100% - 50px);
  overflow: auto;
}

.main{
  width: 760px;
  display: flex;
  margin: 50px auto;
}

.left{
  width: 430px;
  height: 330px;
  background: rgb(255,241,0);
  background: linear-gradient(0deg, rgba(255,241,0,0.4) 0%, rgba(0,160,230,0.4) 100%);
  border: solid 2px #FFF;
  border-radius: 10px;
}

.menu_tutorial{
  height: 120px;
  background: #00a0e6;
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(75% - 4px), calc(90% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 4px);
  clip-path: polygon(4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(75% - 4px), calc(90% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 4px);
}

.menu_tutorial a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
}

.menu_tutorial_info{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #5d5d5d;
  color: #FFF;
  margin: 4px;
  margin-bottom: 0px;
  background: linear-gradient( -45deg, #9cd0f5 25%, #3faef7 25%, #3faef7 50%, #9cd0f5 50%, #9cd0f5 75%, #3faef7 75%, #3faef7 );
  background-size: 40px 40px;
  -webkit-background-size: 10px 10px;
  -webkit-background-size: 10px;
  -webkit-background-size: 14px 14px;
}

.menu_tutorial_title{
  color: #FFF;
  text-shadow: 2px 2px 2px #5d5d5d;
  padding: 10px 5px 0 5px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.menu_tutorial_title_en{
  color: #FFF;
  text-shadow: 2px 2px 2px #5d5d5d;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.menu_programming{
  height: 120px;
  background: #ffdf00;
  overflow: hidden;
  position: relative;
  -webkit-clip-path: polygon(4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(75% - 4px), calc(90% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 4px);
  clip-path: polygon(4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(75% - 4px), calc(90% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 4px);
}

.menu_programming a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
}

.menu_programming_info{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #5d5d5d;
  color: #FFF;
  margin: 4px;
  margin-bottom: 0px;
  background: linear-gradient( -45deg, #FFEB3B 25%, #FFC107 25%, #FFC107 50%, #FFEB3B 50%, #FFEB3B 75%, #FFC107 75%, #FFC107 );
  background-size: 40px 40px;
  -webkit-background-size: 10px 10px;
  -webkit-background-size: 10px;
  -webkit-background-size: 14px 14px;
}

.menu_programming_title{
  color: #FFF;
  text-shadow: 2px 2px 2px #5d5d5d;
  padding: 10px 5px 0 5px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.menu_programming_title_en{
  color: #FFF;
  text-shadow: 2px 2px 2px #5d5d5d;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}


.wrapper_l{
  height: 120px;
  margin: 0 15px;
  margin-top: 30px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}

.right{
  width: 330px;
  height: 330px;
  background: rgba(244, 67, 54, 0.2);
  border: solid 2px #FFF;
  border-radius: 10px;
}

.wrapper_r{
  height: 270px;
  margin: 0 15px;
  margin-top: 30px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px #7d7d7d;
}

.menu_watching{
  height: 270px;
  background: #F44336;
  overflow: hidden;
  -webkit-clip-path: polygon(4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(90% - 4px), calc(90% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 4px);
  clip-path: polygon(4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(90% - 4px), calc(90% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 4px);
}

.menu_watching_info{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #5d5d5d;
  color: #FFF;
  margin: 4px;
  margin-bottom: 0px;
  background: linear-gradient( -45deg, #ff2b1e 25%, #ff7a70 25%, #ff7a70 50%, #ff2b1e 50%, #ff2b1e 75%, #ff7a70 75%, #ff7a70 );
  background-size: 40px 40px;
  -webkit-background-size: 10px 10px;
  -webkit-background-size: 10px;
  -webkit-background-size: 14px 14px;  
}

.menu_watching_title{
  color: #FFF;
  text-shadow: 2px 2px 2px #5d5d5d;
  padding: 70px 5px 0 5px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
